.div {
  height: calc(100vh);
  scroll-snap-align: start;
  color: #02dd02;
  position: relative;
  background-image: url("../img/147522.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: 'Courier New', Courier, monospace;
}
.content>p{
  color: #02dd02;
}
.div_two {
  min-height: 100vh;
  scroll-snap-align: start;
  color: #02dd02;
  position: relative;
  background-image: url("../img/2421274.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: 'Courier New', Courier, monospace;
}
.div_three {
  min-height: 100vh;
  scroll-snap-align: start;
  color: #02dd02;
  position: static;
  background-image: url("../img/draw.jpeg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: 'Courier New', Courier, monospace;
}

body{
  font-family: 'Montserrat';
  background-color: rgb(22, 22, 22);
  margin: 0;
}

.presentation{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: flex-end;
  font-weight: 520;
}

.sec-header{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.7);
}

.sec-header>h1{
  margin-top: 35px;
  font-size: 6rem;
  text-align: center;

}

#cursor {
  animation: blink 1s infinite;
}

.avatar_left>img{
  height: 20em;
  opacity: 0.5;
  clip-path: circle(50% at 50% 50%);
  transition: opacity 0.5s, transform 1s;
  transform: translate(-4em);
}


.avatar_center>img{
  height: 20em;
  opacity: 0.5;
  clip-path: circle(50% at 50% 50%);
  transition: opacity 0.5s, transform 1s;
  transform: translate(0em);
}

.avatar_right>img{
  height: 20em;
  opacity: 0.5;
  clip-path: circle(50% at 50% 50%);
  transition: opacity 0.5s, transform 1s;
  transform: translate(4em);
}
img:hover{
  opacity: 1;
  transform: translate(1em) scale(2);
}

.half-header{
  flex-basis: 40%;
}

.half-header-r{
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h2{font-size: 2.5em;
  color:  #888;
}

.avatar{
  text-align: center;
}


.half-header-r>p {
  text-align: left;
  font-size: 2.5em;
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

span {
  color: #fff;
  font-weight: bold;
}

.line1 {
  color: #02dd02;
  animation: type 0.5s 1s steps(20, end) forwards;
}

.cursor1 {
  animation: blink 1s 2s 2 forwards;
}

.line2 {
  color: #02dd02;
  animation: type 0.5s 4.25s steps(20, end) forwards;
}

.cursor2 {
  animation: blink 1s 5.25s 2 forwards;
}

.line3 {
  color: #02dd02;
  animation: type 0.5s 7.5s steps(20, end) forwards;
}

.cursor3 {
  animation: blink 1s 8.5s 2 forwards;
}

.line4 {
  color: #02dd02;
  animation: type 0.5s 10.75s steps(20, end) forwards;
}

.cursor4 {
  animation: blink 1s 8.5s infinite;
}

@keyframes type {
  to {
    width: 17em;
  }
}

@keyframes blink {
  0%{
    opacity: 0;
  }
  49%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 1;
  }
}

.navbar{
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color:rgba(71, 71, 71, 0.6);
}
.navbar-brand{
  padding-left: 20px;
  color: #f4f7f4;
  transition: 0.5s cubic-bezier(0.6, 0.03, 0.28, 0.98);
  transform: scale(1);
}
.navbar-brand:hover{
  color: #0b0b0b;
  transform: scale(1.2);
  transition: 0.5s cubic-bezier(0.6, 0.03, 0.28, 0.98);
}
.nav-link{
  color: #f5f7f5;
}
.navbar-text{
  color: #0e120e;
  margin-left: 55%;
}
@media (max-width: 767px) {
  .navbar-nav .nav-link {
    font-size: 16px; /* Ajustez la taille du texte selon vos besoins */
  }
}
.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-collapse{
  justify-content: center;
}
.nav-item {
  width: 200px; /* Ajustez la largeur selon vos besoins */
}
.coll h1 {
  margin-top: 35px;
  font-size: 6rem;
  text-align: center;
}

.meter {
  box-sizing: content-box;
  height: 20px; /* Can be anything */
  position: relative;
  margin: 60px auto 20px auto; /* Remplacez le margin-top et le margin-bottom par "auto" */
  width: 80%; /* Ajoutez une largeur fixe ou utilisez une autre méthode pour définir la largeur souhaitée */

  background: #555;
  border-radius: 25px;
  padding: 10px;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}
.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(43, 194, 83);
  background-image: linear-gradient(
    center bottom,
    rgb(43, 194, 83) 37%,
    rgb(84, 240, 84) 69%
  );
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
}
.meter > span:after,
.animate > span > span {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
  z-index: 1;
  background-size: 50px 50px;
  animation: move 2s linear infinite;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}

.animate > span:after {
  display: none;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

.orange > span {
  background-image: linear-gradient(#f1a165, #f36d0a);
}

.red > span {
  background-image: linear-gradient(#f0a3a3, #f42323);
}

.nostripes > span > span,
.nostripes > span::after {
  background-image: none;
}

.meter > span.reverse:after,
.animate > span.reverse > span {
  background-position: 100% 0;
}

#page-wrap {
  width: 490px;
  margin: 80px auto;
}
body {
  background: #333;
  text-align: center;
  color: #eee;
  font-family: system-ui, sans-serif;
}
h1 {
  font-size: 42px;
  font-weight: 600;
  margin: 0 0 30px;
}
pre {
  background: #000;
  text-align: left;
  padding: 20px;
  margin: 0 auto 30px;
}
* {
  box-sizing: border-box;
}
