@import url('navbar.css');
@import url('load_bar.css');
@import url('variable.css');

.div {
  height: calc(100vh);
  scroll-snap-align: start;
  color: #02dd02;
  position: relative;
  background-image: url("../img/147522.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: 'Courier New', Courier, monospace;
}

.content>p{
  color: #02dd02;
}

.div_two {
  min-height: 100vh;
  scroll-snap-align: start;
  color: #02dd02;
  position: relative;
  background-image: url("../img/backgrd.jpeg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: 'Courier New', Courier, monospace;
}

.div_three {
  min-height: 100vh;
  scroll-snap-align: start;
  color: #02dd02;
  position: static;
  background-image: url("../img/draw.jpeg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: 'Courier New', Courier, monospace;
}

body{
  font-family: 'Montserrat';
  background-color: rgb(22, 22, 22);
  margin: 0;
}

.presentation{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: flex-end;
  font-weight: 520;
}

.sec-header{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.7);
}

.sec-header>h1{
  margin-top: 35px;
  font-size: 6rem;
  text-align: center;

}

#cursor {
  animation: blink 1s infinite;
}

.avatar_left>img{
  height: 15em;
  opacity: 0.5;
  clip-path: circle(50% at 50% 50%);
  transition: opacity 0.5s, transform 1s;
  transform: translate(-4em);
  z-index: 1;
}


.avatar_center>img{
  height: 20em;
  opacity: 0.5;
  clip-path: circle(50% at 50% 50%);
  transition: opacity 0.5s, transform 1s;
  transform: translate(0em);
  z-index: 1;
}

.avatar_right>img{
  height: 15em;
  opacity: 0.5;
  clip-path: circle(50% at 50% 50%);
  transition: opacity 0.5s, transform 1s;
  transform: translate(4em);
  z-index: 1;
}
img:hover{
  opacity: 1;
  transform: translate(1em) scale(1.2);
}

.half-header{
  flex-basis: 40%;
}

.half-header-r{
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h2{font-size: 2.5em;
  color:  #888;
}

.avatar{
  text-align: center;
}


.half-header-r>p {
  text-align: left;
  font-size: 2.5em;
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

span {
  color: #fff;
  font-weight: bold;
}

.line1 {
  color: #02dd02;
  animation: type 0.5s 1s steps(20, end) forwards;
}

.cursor1 {
  animation: blink 1s 1s 2 forwards;
}

.line2 {
  color: #02dd02;
  animation: type 0.5s 2s steps(20, end) forwards;
}

.cursor2 {
  animation: blink 1s 2s 2 forwards;
}

.line3 {
  color: #02dd02;
  animation: type 0.5s 3s steps(20, end) forwards;
}

.cursor3 {
  animation: blink 1s 3s 2 forwards;
}

.line4 {
  color: #02dd02;
  animation: type 0.5s 4s steps(20, end) forwards;
}

.cursor4 {
  animation: blink 1s s infinite;
}

@keyframes type {
  to {
    width: 17em;
  }
}

@keyframes blink {
  0%{
    opacity: 0;
  }
  49%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 1;
  }
}

.coll h1 {
  margin-top: 35px;
  font-size: 6rem;
  text-align: center;
}

body {
  background: #333;
  text-align: center;
  color: #eee;
  font-family: system-ui, sans-serif;
}
h1 {
  font-size: 42px;
  font-weight: 600;
  margin: 0 0 30px;
}
pre {
  background: #000;
  text-align: left;
  padding: 20px;
  margin: 0 auto 30px;
}
* {
  box-sizing: border-box;
}

#myProgress {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#myProgress p {
  font-size: 24px;
  text-align: center;
}

.custom-row {
  position: relative;
}

.custom-row::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px; /* Décalez légèrement l'ombre vers le bas */
  width: 100%;
  height: 10px; /* Ajustez la hauteur de l'ombre */
  background-color: rgba(255, 255, 255, 0.5); /* Couleur de l'ombre avec une opacité réduite */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.custom-row:hover::after {
  opacity: 1;
  margin-bottom: -10px; /* Ajoutez une marge négative pour que l'ombre s'étende vers le bas */
}
